.header-img {
  width: 21px;
  height: 21px;
}

.img-bg {
  width: 400px;
  height: 400px;
  /* background-color: blue; */
}

.imageField {
  width: 400px;
  height: 400px;
  position: relative;
}

.img-front {
  position: absolute;
  top: 50px;
  right: 10px;
  width: 380px;
  height: 200px;
  /* background-color: yellow; */
}